.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.layout {
	display: flex;
	justify-content: space-around;
}

.button {
	width: 60px;
	height: 60px;
}

.checkbox {
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #fff;
	font-size: 40px;
	cursor: pointer;
}
